# NPM cache
node_modules

# Compiler files
cache/
out/

# Coverage files
coverage/

# slither-related files
.venv/

# storage layout comparison files
.storage-layout/

# governor configuration files
configs/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# Dotenv file
.env
